{% extends "home.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/usuarios.css' %}">
{% endblock %}
{% block hero_section %}{% endblock %}
{% block content %}

<div class="usuarios-container">

        <h2 class="usuarios-title">Lista de usuarios</h2>

        <div class="usuarios-list">

           {% for usuario in usuarios %}
    <div class="usuario-card">

        <div class="usuario-info">
            <span class="usuario-nombre">{{ usuario.username }}</span>

            {% if not usuario.is_active %}
                <span class="badge bg-danger">DESHABILITADO</span>
            {% endif %}
        </div>

        {% if request.user.is_superuser or request.user.groups.all.0.name == "Colaborador" %}
            <form method="POST" action="{% url 'apps.usuario:toggleUsuario' id=usuario.id %}">
                {% csrf_token %}
                {% if usuario.is_active %}
                    <button class="btn btn-warning">Deshabilitar</button>
                {% else %}
                    <button class="btn btn-success">Habilitar</button>
                {% endif %}
            </form>
        {% endif %}
    </div>
{% endfor %}


        </div>


        <div class="usuarios-restringido">
            <h3>Acceso restringido</h3>
            <p>Solo usuarios con permisos pueden acceder a esta página.</p>
        </div>

</div>

{% endblock %}
